<h1>Edit Payment</h1>

<form ng-submit="update()">
  <div class="form-group">
    <label for="">Amount:</label>
    <input type="number" name="amount_cents" ng-model="payment.amount_cents" />
  </div>

  <div class="form-group">
    <label for="type-revenue">
      <input type="radio" name="type" value="revenue" id="type-revenue" ng-model="payment.payment_type"> Revenue
    </label>
    <label for="type-expense">
      <input type="radio" name="type" value="expense" id="type-expense" ng-model="payment.payment_type"> Expense
    </label>
  </div>

  <div class="form-group">
    <select ng-model="payment.client_id" ng-options="client.id as client.name for client in clients">
      <option value="">Select client (optional)</option>
    </select>
  </div>

  <button>Update</button> <a href="#/">Cancel</a>
</form>